@use './variables';
@use './mixins/mixin';
@use 'sass:color';

/*--- Header ---*/

header {
    z-index: 100;
    transition: 0.2s;
    position: fixed;
    width: 100%;
    height: 15vh;
    overflow-y: hidden;
    background-color: rgba($color: #000000, $alpha: 0.5);
    backdrop-filter: blur(3.5px);
    display: grid;
    grid-template-columns: 30vw 10vw 35vw;
    gap: 0px;
    justify-content: center;

    .logo {
        a {
            width: 100%;
            height: 100%;
        }
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: end;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: start;
        justify-content: center;
        img {
            background-image: url(../medias/img/logo/Far_Cry_4_logo.webp);
            transition: 0.2s;
            max-width: 35vh;
            max-height: 15vh;
            //aspect-ratio: 1/1;
            display: none;
        }
        
        .imgLogo {
            background-image: url(../medias/img/logo/Far_Cry_4_logo.webp);
            width: 100%;
            height: 100%;
            background-size: 35vmin;
            background-position: left;
            background-repeat: no-repeat;

            animation-name: changeLogo;
            @include mixin.animationApplyParam(35s);
            /*
            animation-duration: 35s;
            animation-iteration-count: infinite;
            animation-direction: alternate;
            animation-timing-function: step-end;
            animation-fill-mode: forwards;*/
        }
    }
    .liens {
        font-family: "Rufly";
        text-transform: uppercase;
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: row;
        justify-content: end;
        a {
            font-size: 24px;
            color: variables.$textMenuColor;
            max-width: 100px;
            transition: 0.1s;
            text-shadow: 0 0 3px variables.$textMenuColor;
            &:hover {
                text-shadow: 0 0 1px variables.$textMenuColor;
                transform: translateY(2px);
                color: color.adjust(variables.$textMenuColor, $blackness: 35%);
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    header {
        grid-template-columns: 30% 10% 60%;
        .logo {
            img {
                max-width: 20vh;
            }
        }
        .liens {
            gap: 5px;
            a {
                font-size: 20px;
            }
        }
        
    }
}
/*
@keyframes changeLogo {
    0% {
        background-image: url(../medias/img/logo/Far_Cry_4_logo.webp);
    }
    25% {
        //-webkit-animation-timing-function: steps(1, end);
        background-image: url(../medias/img/logo/Far_Cry_3_Logo.png);
    }
    50% {
        //-webkit-animation-timing-function: steps(1, end);
        background-image: url(../medias/img/logo/farcry_2.png);
    }
    75% {
        //-webkit-animation-timing-function: steps(1, end);
        background-image: url(../medias/img/logo/FC5_Logo.png);
    }
    100% {
        //-webkit-animation-timing-function: steps(1, end);
        background-image: url(../medias/img/logo/FC6_Logo.png);
    }
}*/