@use './variables';
@use 'sass:color';

/*--- Header ---*/

header {
    z-index: 100;
    transition: 0.2s;
    position: fixed;
    width: 100%;
    height: 15vh;
    overflow-y: hidden;
    background-color: rgba($color: #000000, $alpha: 0.5);
    backdrop-filter: blur(3.5px);
    display: grid;
    grid-template-columns: 30% 10% 35%;
    gap: 0px;
    justify-content: center;

    .logo {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: end;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: start;
        justify-content: center;
        img {
            transition: 0.2s;
            max-width: 35vh;
            max-height: 15vh;
            //aspect-ratio: 1/1;
        }
    }
    .liens {
        font-family: "Rufly";
        text-transform: uppercase;
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: row;
        justify-content: end;
        a {
            font-size: 24px;
            color: variables.$textMenuColor;
            max-width: 100px;
            transition: 0.1s;
            text-shadow: 0 0 3px variables.$textMenuColor;
            &:hover {
                text-shadow: 0 0 1px variables.$textMenuColor;
                transform: translateY(2px);
                color: color.adjust(variables.$textMenuColor, $blackness: 35%);
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    header {
        grid-template-columns: 30% 10% 60%;
        .logo {
            img {
                max-width: 20vh;
            }
        }
        .liens {
            gap: 5px;
            a {
                font-size: 20px;
            }
        }
        
    }
}