/*--- Variables ---*/
main {
  display: grid;
  grid-template-rows: 20% 70%;
  gap: 25px;
}
main .hero {
  border-radius: 15px;
  max-width: 75vw;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.5));
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  overflow: hidden;
  position: relative;
}
main .hero h1 {
  transition-duration: 0.2s;
  position: absolute;
  text-transform: uppercase;
  font-family: "FarCry";
  font-size: 64px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  max-width: 750px;
  width: 100%;
  color: #e8e8e8;
  text-shadow: 2px 2px 10px #929292;
}
main .hero .imgHero {
  background-image: url(../medias/img/ccc1a9e1-1597-42c6-9eba-2637f8a5faff-1024x768.avif);
  width: 100%;
  height: 100%;
  background-size: 130% 80vh;
  animation-name: changeBackgroundImageHero;
  animation-duration: 35s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: none;
  animation-fill-mode: forwards;
  /*
  animation-duration: 35s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: step-end;
  animation-fill-mode: forwards;*/
}
main .hero:hover h1 {
  color: white;
}
main .hero #mouse {
  transform-origin: 0 0;
  animation-name: animePointerHero;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-direction: alternate;
  position: absolute;
  top: -35%;
  left: -12.8vw;
  margin: auto;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
  z-index: 200;
  border-radius: 100%;
  background-image: url(../medias/img/scope.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  width: 50px;
  aspect-ratio: 1/1;
}

@keyframes animePointerHero {
  0% {
    opacity: 0.5;
    background-image: url(../medias/img/scope.png);
  }
  100% {
    opacity: 1;
    box-shadow: 0 0 25px gray;
    width: 100px;
    left: -14vw;
  }
}
/*
@keyframes changeBackgroundImageHero {
    0% {
        background-image: url(../medias/img/ccc1a9e1-1597-42c6-9eba-2637f8a5faff-1024x768.avif);
        background-position: bottom left;
    }
    20% {
        background-image: url(../medias/img/ccc1a9e1-1597-42c6-9eba-2637f8a5faff-1024x768.avif);
        background-position: bottom right;
    }
    25% {
        //-webkit-animation-timing-function: steps(1, end);

        background-image: url(../medias/img/farcry3/capsule_616x353.jpg);
        background-position: bottom right;
    }
    45% {
        //-webkit-animation-timing-function: steps(1, end);
        background-image: url(../medias/img/farcry3/capsule_616x353.jpg);
        background-position: bottom left;
    }
    50% {
        //-webkit-animation-timing-function: steps(1, end);
        background-image: url(../medias/img/farcry2/24042-image-far-cry-2.jpg);
        background-position: bottom left;
    }
    70% {
        //-webkit-animation-timing-function: steps(1, end);
        background-image: url(../medias/img/farcry2/24042-image-far-cry-2.jpg);
        background-position: bottom right;
    }
    75% {
        //-webkit-animation-timing-function: steps(1, end);
        background-image: url(../medias/img/farcry5/far-cry-5-pc-jeu-ubisoft-connect-europe-cover.jpg);
        background-position: bottom right;
    }
    95% {
        //-webkit-animation-timing-function: steps(1, end);
        background-image: url(../medias/img/farcry5/far-cry-5-pc-jeu-ubisoft-connect-europe-cover.jpg);
        background-position: bottom left;
    }
    100% {
        //-webkit-animation-timing-function: steps(1, end);
        background-image: url(../medias/img/farcry6/game-reviews-far-cry-6-xbox-series-x-review-2-1280x720.webp);
        background-position: bottom left;
    }
}
*/
@media screen and (max-width: 1000px) {
  main .hero {
    max-width: 95%;
  }
}
/*--- Header ---*/
header {
  z-index: 100;
  transition: 0.2s;
  position: fixed;
  width: 100%;
  height: 15vh;
  overflow-y: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(3.5px);
          backdrop-filter: blur(3.5px);
  display: grid;
  grid-template-columns: 30vw 10vw 35vw;
  gap: 0px;
  justify-content: center;
}
header .logo {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: end;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: start;
  justify-content: center;
}
header .logo a {
  width: 100%;
  height: 100%;
}
header .logo img {
  background-image: url(../medias/img/logo/Far_Cry_4_logo.webp);
  transition: 0.2s;
  max-width: 35vh;
  max-height: 15vh;
  display: none;
}
header .logo .imgLogo {
  background-image: url(../medias/img/logo/Far_Cry_4_logo.webp);
  width: 100%;
  height: 100%;
  background-size: 35vmin;
  background-position: left;
  background-repeat: no-repeat;
  animation-name: changeLogo;
  animation-duration: 35s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: step-end;
  animation-fill-mode: forwards;
  /*
  animation-duration: 35s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: step-end;
  animation-fill-mode: forwards;*/
}
header .liens {
  font-family: "Rufly";
  text-transform: uppercase;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  justify-content: end;
}
header .liens a {
  font-size: 24px;
  color: white;
  max-width: 100px;
  transition: 0.1s;
  text-shadow: 0 0 3px white;
}
header .liens a:hover {
  text-shadow: 0 0 1px white;
  transform: translateY(2px);
  color: #bdbdbd;
}

@media screen and (max-width: 1000px) {
  header {
    grid-template-columns: 30% 10% 60%;
  }
  header .logo img {
    max-width: 20vh;
  }
  header .liens {
    gap: 5px;
  }
  header .liens a {
    font-size: 20px;
  }
}
/*
@keyframes changeLogo {
    0% {
        background-image: url(../medias/img/logo/Far_Cry_4_logo.webp);
    }
    25% {
        //-webkit-animation-timing-function: steps(1, end);
        background-image: url(../medias/img/logo/Far_Cry_3_Logo.png);
    }
    50% {
        //-webkit-animation-timing-function: steps(1, end);
        background-image: url(../medias/img/logo/farcry_2.png);
    }
    75% {
        //-webkit-animation-timing-function: steps(1, end);
        background-image: url(../medias/img/logo/FC5_Logo.png);
    }
    100% {
        //-webkit-animation-timing-function: steps(1, end);
        background-image: url(../medias/img/logo/FC6_Logo.png);
    }
}*/
/*--- Fonts ---*/
@font-face {
  font-family: "Rufly";
  src: url(./medias/fonts/the_rufly/The\ Rufly.ttf) format(truetype);
}
@font-face {
  font-family: "FarCry";
  src: url(./medias/fonts/farcry/FARCEB__.TTF) format(truetype);
}
/*--- Body ---*/
* {
  margin: auto;
  box-sizing: content-box;
}

body {
  background-color: #252525;
  height: 100vh;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

main {
  width: 100%;
  height: 100%;
  background-image: url(./medias/img/far-cry-4_3-1410247904-far-cry-4-best-weapons-to-storm-kyrat-explained.webp);
  background-size: 150vw 100vmin;
  background-position: center;
  background-repeat: no-repeat;
  animation-name: changeBackgroundImage;
  animation-duration: 35s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: none;
  animation-fill-mode: forwards;
  /*
  animation-duration: 35s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: step-end;
  animation-fill-mode: forwards;*/
}

/*
@keyframes changeBackgroundImage {
    0% {
        background-image: url(./medias/img/far-cry-4_3-1410247904-far-cry-4-best-weapons-to-storm-kyrat-explained.webp);
    }
    25% {
        //-webkit-animation-timing-function: steps(1, end);
        background-image: url(./medias/img/farcry3/ss_842bfdeb44368babd55ad93af1cbbf560f9fb9a1.1920x1080.jpg);
    }
    50% {
        //-webkit-animation-timing-function: steps(1, end);
        background-image: url(./medias/img/farcry2/0000004527.1920x1080.jpg);
    }
    75% {
        //-webkit-animation-timing-function: steps(1, end);
        background-image: url(./medias/img/D2B6604C-997D-4A6A-998A-2EDA7FB258DB.png);
    }
    100% {
        //-webkit-animation-timing-function: steps(1, end);
        background-image: url(./medias/img/222E320E-FE48-4262-9923-9E53358F1AF5.png);
    }
}*//*# sourceMappingURL=style.css.map */