@use './partials/variables';
@use './partials/hero';
@use './partials/header';

/*--- Fonts ---*/

@font-face {
    font-family: "Rufly";
    src: url(./medias/fonts/the_rufly/The\ Rufly.ttf) format(truetype);
}

/*--- Body ---*/

* {
    margin: auto;
    box-sizing: content-box;
}

body {
    background-color: rgba($color: #252525, $alpha: 1.0);
    height: 120vh;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

main {
    width: 100%;
    height: 100vh;
    background-image: url(./medias/img/far-cry-4_3-1410247904-far-cry-4-best-weapons-to-storm-kyrat-explained.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

